body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f7f7fb;
  color: #249;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #6a5acd;
  font-weight: bold;
}

a:hover {
    transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

section {
  margin-top: 50px;
}
